/*! custom styling for assignment 4 */
body {
  background-color: lightgray !important;
}
.topHeaderRow ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
  color: white;
}
.topHeaderRow li {
  display: inline;
}
.topHeaderRow li a {
  float: right;
  text-decoration: none;
  padding: 0px;
  margin: 5px 15px 5px 0px;
  font-size: 0.75em;
  color: white;
}
.topHeaderRow img {
  max-width: 10px;
}
.navbar,
.nav-link {
  background-color: royalblue;
  color: white;
}
footer.navbar a {
  color: darkblue;
}
.navbar-brand {
  color: white;
  font-family: cursive, serif;
}
.pink-btn {
  background-color: hotpink;
  color: white;
  border: none;
}
.icon {
  max-width: 15px;
}
div.card-header {
  background-color: darkblue;
  color: white;
}
#tags {
  background-color: white;
  padding: 10px;
}
#tags span {
  margin: 0px 2px 5px 5px;
  padding: 3px;
  background-color: darkblue;
  color: white;
}
.sky-btn {
  color: white;
  background-color: royalblue;
}
.card-deck .card {
  background-color: lightgray;
}